@import "variables";
a {
    text-decoration: none;
    color: $blackOne;
}
.sidebar-icon {
    width: 50px;
    height: 40px;
    border: none;
    transition-duration: 0.3s;
}
.page-sidebar {
    position: fixed;
    top: 0;
    width: 360px;
    height: 100vh;
    margin: 0;
    padding:0;
    background-color: $whiteOne;
    font-family: 'TTLakes', sans-serif;
    font-weight: 500;
    color: $blackOne;
    z-index: 200;
    display: none;
    animation-name: sidebar-in;
    animation-duration: 0.6s;
}
@keyframes sidebar-in {
  from {transform: translateX(-360px)}
  to {transform:translateX(0px)}
}
.page-sidebar_active {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header-sidebar {
    display: flex;
    margin-left: 5%;
}

.page-sidebar__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 360px;
    width: 100vw;
    height: 100vh;
}
.page-sidebar_active {
  .page-body-no-scroll {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}
.page-sidebar_active .page-sidebar__overlay {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0 30px 0 $lightGrey;
}

.header-icon-close {
    background: url("../img/close.svg") no-repeat;
    margin-top: 40px;
}
.header-logo {
    margin-left: 3%;
    margin-top: 36px;
    transition-duration: 0.3s;
}
.header-logo:hover {
    transform: scale(1.1);
}
.header-icon-search {
    background: url("../img/search.svg") no-repeat;
    margin-top: 40px;
  margin-left: 35%;
}
.sidebar-icon:hover {
    filter: contrast(2) brightness(2);
    transform: scale(1.1);
}
.sidebar-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    list-style: none;
    margin-left: -15px;
    margin-top: 50px;
}
.sidebar-list-highlight {
    position: absolute;
    top: -5px;
    left: 15px;
    background: url("../img/highlight.svg") no-repeat;
    height: 32px;
    width: 4px;
}
.sidebar-list__item_active {
    color: $grayOne;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: 24px;
}
.footer-icons {
    display: flex;
    column-gap: 16px;
}
.footer-icon-call {
    background: url("../img/call.svg") no-repeat;
}
.footer-icon-chat {
    background: url("../img/chat.svg") no-repeat;
}
.footer-icon-profile {
    background: url("../img/profile.svg") no-repeat;
}
.contacts-mail {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}
.contacts-phone {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px;
}
.footer-languages {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    margin-top: 40px;
    padding-bottom: 32px;
}
.footer-languages button:hover,
.contacts-phone:hover,
.contacts-mail:hover {
    color: $pinkTwo;
}
.footer-languages__EN {
    margin-left: 7px;
    margin-right: 7px;
}
.footer-languages__RU_active {
    color: $grayOne;
    background: none;
    border: none;
}
.footer-languages__EN {
    background: none;
    border: none;
}
@media (max-width: 360px) {
  .page-sidebar {
    width: 100vw;
  }
  .header-icon-search {
    margin-left: 30%;
  }
}
.footer-languages__CH {
    background: none;
    border: none;
}
@media (min-width: 1440px) {
    .page-sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        animation-duration: 0s;
    }
    .header-icon-close {
        display: none;
    }
    .header-logo {
        margin-right: 60px;
    }
}
