$darkGrey: #24292e;
$grayOne: #7E7E82;
$lightGreen:#B8FFEC;
$blackOne: #1B1C21;
$whiteOne: #FFFFFF;
$whiteTwo: #F8F8F8;
$whiteThree: #F2F2F2;
$lightGrey: #B5B6BC;
$pinkOne: #FF3E79;
$whiteFore: #EAEAEA;
$whiteFive: #D9FFF5;
$colorRed: red;
